body{
	overflow: hidden;
	background: url('../img/maze-bg.jpeg');
	background-size: cover;
	backdrop-filter: grayscale(0.5) blur(7px) opacity(0.75);
}
canvas{
	margin: calc(50vh - 200px) calc(50vw - 375px);
}

.game{
	display: flex;
	background: rgba(0,0,0,0.75);
}

.gameScore{
	width: 50%;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.gameMessage{
	text-align: center;
	color: #fff;
	font-size: 20px;
	display: none;
	width: 50%;
}

#hiScore{
	  color: #fff;
    font-size: 15px;
    position: absolute;
    z-index: 99;
    top: calc(50vh - 100px);
    left:  calc(50vw - 100px);
    background: black;
    padding: 50px;
    display: none;
}
.button {
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}